//Default:
@import "utils/main";

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  &.js-overflow {
    overflow: hidden !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 800;
  line-height: 1.4;
}

h1 {
  font-size: rem(48px);

  & + p {
    font-size: rem(18px);
  }
}
h2 {
  font-size: rem(36px);

  & + p {
    font-size: rem(18px);
  }
}
h3 {
  font-size: rem(28px);
}
h4 {
  font-size: rem(24px);
}
h5 {
  font-size: rem(20px);
}

strong {
  font-weight: 600;
}

small {
  font-size: rem(13px);
}

a {
  //color: #fff;
  text-decoration: none;
  transition: 0.15s ease-in-out all;

  span,
  small,
  svg {
    vertical-align: middle;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include glassEffect(20px);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: 0.2s linear all;

  &.active {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
  }
}

section,
.section {
  position: relative;
  padding: 50px 0;
}

.container {
  width: 100%;
  max-width: $desktopWidth;
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 8px;
}

@media screen and (max-width: $laptopWidth) {
  section,
  .section {
    padding: 40px 0;
  }

  .container {
    max-width: $desktopWidth;
  }
}
@media screen and (max-width: $desktopWidth) {
  body {
    font-size: rem(16px);
  }

  .container {
    max-width: $smDesktopWidth;
  }
}
@media screen and (max-width: $smDesktopWidth) {
  body {
    font-size: rem(15px);
  }

  section,
  .section {
    padding: 30px 0;
  }

  .container {
    max-width: $tableWidth;
  }

  h1 {
    font-size: rem(42px);

    & + p {
      font-size: rem(17px);
    }
  }
  h2 {
    font-size: rem(26px);

    & + p {
      font-size: rem(17px);
    }
  }
  h3 {
    font-size: rem(24px);
  }
  h4 {
    font-size: rem(20px);
  }
  h5 {
    font-size: rem(16px);
  }
}
@media screen and (max-width: $tableWidth) {
  section,
  .section {
    padding: 24px 0;
  }

  .container {
    max-width: $smTableWidth;
  }
}
@media screen and (max-width: $smTableWidth) {
  h1 {
    font-size: rem(36px);

    & + p {
      font-size: rem(16px);
    }
  }
  h2 {
    font-size: rem(22px);

    & + p {
      font-size: rem(15px);
    }
  }
  h3 {
    font-size: rem(20px);
  }
  h4 {
    font-size: rem(17px);
  }
  h5 {
    font-size: rem(15px);
  }

  body {
    font-size: rem(14px);
  }

  .container {
    max-width: $phoneWidth;
  }
}
@media screen and (max-width: $phoneWidth) {
  h1 {
    font-size: rem(32px);

    & + p {
      font-size: rem(15px);
    }
  }
  h2 {
    font-size: rem(20px);

    & + p {
      font-size: rem(14px);
    }
  }
  h3 {
    font-size: rem(18px);
  }
  h4 {
    font-size: rem(16px);
  }
  h5 {
    font-size: rem(14px);
  }

  body {
    font-size: rem(13px);
    line-height: 1.2;
  }

  section,
  .section {
    padding: 20px 0;
  }

  .container {
    max-width: $smPhoneWidth;
  }
}

.w-100 {
  width: 100%;
}
.p-3 {
  padding: 15px;
}
